[mysqld]
max_allowed_packet              = 256M
innodb_file_format              = Barracuda
innodb_large_prefix             = 1
innodb_file_per_table           = ON
innodb_buffer_pool_size         = 3G
innodb_buffer_pool_instances    = 2
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_log_buffer_size          = 64M
innodb_log_file_size            = 512M
innodb_stats_on_metadata        = 0
innodb_read_io_threads          = 64
innodb_write_io_threads         = 64
join_buffer_size                = 4M
read_buffer_size                = 3M
read_rnd_buffer_size            = 4M
sort_buffer_size                = 4M
innodb_force_recovery = 0
optimizer_switch='rowid_filter=off'
optimizer_use_condition_selectivity = 1

[mysqld_safe]
innodb_force_recovery = 0
